b.svelte-17pofcc.svelte-17pofcc{font-weight:500
}ul.svelte-17pofcc.svelte-17pofcc{list-style-type:disc;padding-left:1.75rem
}ul.svelte-17pofcc .svelte-17pofcc::marker{color:rgb(163 163 163 )
}ul.svelte-17pofcc.svelte-17pofcc::marker{color:rgb(163 163 163 )
}.byline.svelte-17pofcc.svelte-17pofcc{font-family:Newsreader, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;font-style:italic
}.description.svelte-17pofcc.svelte-17pofcc{margin-top:0.25rem;font-family:Newsreader, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;font-style:italic;--tw-text-opacity:1;color:rgb(82 82 82 / var(--tw-text-opacity))
}