name: CI

on:
  push:
    branches:
      - main

# Add permissions for GitHub Actions
permissions:
  contents: write

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - run: npm ci

      - run: npm run check

      - run: npm run lint

      - run: npm run build

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build
          single-commit: true
